*,
*::after,
*::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


@font-face {
	font-family: BebasNeue Bold;
	src: url("../fonts/BebasNeue Bold.ttf");
}
@font-face {
	font-family: BebasNeue Regular;
	src: url("../fonts/BebasNeue Regular.ttf");
}


a {
    text-decoration: none;
}

body {
	background-color: #b09b9c;
}


.bastion {
	font-size: 240%;
	font-family: BebasNeue Bold;
}


.header {
	padding: 10px 0;
	background-color: #bfbcb2;
}


.container {
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	margin: 0 auto;
	align-items: center;
}


.menu-item {
	font-family: BebasNeue Regular;
	font-size: 160%;
	color: black;
}


.button {
	font-family: BebasNeue Regular;
	font-size: 160%;
	padding: 5px;
	color: white;
}


.menu {
	margin-inline: 2%;
	display: flex;
	justify-content: space-between;
	width: 500px;
	color: black;
}


.title {
	font-size: 240%;
    font-family: BebasNeue Bold;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.problemniy_title {
	font-size: 240%;
    font-family: BebasNeue Bold;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.mini_title {
	font-size: 30px;
    font-family: BebasNeue Bold;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}


  h1 {
    position: relative;
    overflow: hidden;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
  }
  h1 > span {
    display: inline-block;
    margin: 0 .4em;
  }
  h1 > span:before,
  h1 > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid black;
    margin-top: .6em;
  }
  h1 > span:before {
    margin-left: -102%;
  }
  h1 > span:after {
    margin-left: 2%;
  }


.search {
	width: 500px;
	display: flex;
}
.search a {
	display: flex;
	justify-content: center;
	width: 120px;
	border: 2px solid;
	border-left: 0px;
	border-color: black;
	background-color: #b9a359;
}
.search input {
	width: 100%;
	background-color: #cccbb4;
	border: 2px solid;
	font-family: BebasNeue Regular;
	font-size: 150%;
	padding-left: 4px;
}


.logo {
	width: 52px;
	margin-right: 2%;
}


.main-page {
	width: 1300px;
	margin: 0 auto;
}


.block {
	display: flex;
	flex-direction: column;
	height: 3700px;
}

.first_block {
	font-size: 240%;
	font-family: BebasNeue Bold;
	width: 1300px;
	height: 731px;
	padding: 30px;
	margin-bottom: 150px;
	background-image: url(../img/harmonix.jpg);
	background-size: cover;
	border: solid;
	border-width: 2px;
	border-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.second_block {
	display: flex;
	flex-wrap: wrap;
	width: 1300px;
	height: 731px;
	margin-bottom: 316px;
}
.second_block_images_left {
	display: flex;
	flex-direction: column;
	width: 750px;
}
.second_block_images_right {
	display: flex;
	padding-left: 30px;
	width: 550px;
}
.image
{
	margin-bottom: 20px;
}
.image_songs {
	margin-bottom: 20px;
	transition: all 0.3s ease 0s;
}
.image_block {
	position: relative;
}
.list_of_songs {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition:visibility 0.3s ease,opacity 0.3s ease;
}

.image_block:hover .list_of_songs {
	visibility: visible;
	opacity: 1;
}
.image_block:hover .image_songs {
	filter: brightness(40%);
}

.third_block{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	width: 1300px;
	height: 731px;
	margin-bottom: 140px;
}
.third_block_images_1 {
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: -46px;
  margin-right: 11px;
}
.third_block_images_2 {
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: -46px;
  margin-left: 11px;
}


.fourth_block {
	display: flex;
	flex-direction: column;
	width: 1300px;
	height: 731px;
}
.fourth_block_images {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	background: #3e3b48;
	font-size: 25px;
	color: #ececec;
}
.footer_text_left_o_projecte {
	font-family: BebasNeue Bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.footer_text_left {
	font-family: BebasNeue Regular;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	text-decoration: none;
	color: #ececec;
}
.footer_text_middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	margin-left: 40px;
}
.footer_text_middle_titles {
	font-family: BebasNeue Bold;
	margin-bottom: 5px;
}
.footer_text_middle_under_titles {
	font-family: BebasNeue Regular;
	font-size: 22px;
	color: #c16170;
	margin-bottom: 30px;
}
.footer_text_middle_bottom {
	font-family: BebasNeue Regular;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top:90px;
	text-decoration: none;
	color: #ececec;
}

.footer_images_right {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer_images_up {
	display: flex;
	align-items: center;
	margin-bottom: 100px;
}
.footer_images_down {
	display: flex;
}
.footer_images {
	margin-right: 30px;
}